/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    /*Loại bỏ khoảng cách mặc định của các phần tử*/
    box-sizing: border-box; /*Đảm bảo kích thước của phần tử bao gồm cả padding và border*/
}

/* CÀI ĐẶT CHUNG CHO HTML */
html {
    scroll-behavior: smooth; /* Cuộn mượt khi bấm vào link */
    font-family: Arial, Helvetica, sans-serif;
}

/*
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết 
*/

/* 
1.Vị Trí
2.Kích thước(width,height)
3.Màu sắc
4.Kiểu dáng(kiểu chữ, hình j,...)
*/

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* Định nghĩa các class cột cho layout dạng lưới */
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}

/* Main */
#main {

}

/* Header cố định trên đầu trang, nền đen, chiều cao 46px */
#header {
    position: fixed;  /* Các mục menu nằm ngang */
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1; /* Đảm bảo header luôn nổi trên các phần khác */
}

/* Menu điều hướng chính */
#nav {
    display: inline-block; /* Các mục menu nằm ngang */
}

#nav, .subnav {
    list-style-type: none; /* Bỏ dấu chấm đầu dòng */
}

#nav > li {
    display: inline-block; /* Các mục menu nằm ngang */
}

#nav li {
    position: relative; /* Để submenu định vị tuyệt đối theo menu cha */
}

#nav > li > a {
    color: white;
    text-transform: uppercase; /* Chữ in hoa */
}

#nav li a {
    text-decoration: none; /* Bỏ gạch chân */
    line-height: 46px; /* Căn giữa chữ theo chiều dọc */
    padding: 0 24px;
    display: block;
}

/* Hiện submenu khi hover vào menu cha */
#nav li:hover .subnav {
    display: block;
}

/* Đổi màu khi hover vào mục menu cấp 1 */
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

/* Submenu ẩn mặc định, hiện khi hover */
#nav .subnav {
    display: none; /* Ẩn mặc định */
    min-width: 160px;
    position: absolute;
    top: 100%; /* Hiện ngay dưới menu cha */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px; /* Kích thước icon mũi tên xuống */
}

/* Nút tìm kiếm bên phải header */
#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: rgb(208, 68, 68);
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* Slider/banner chính */
#slider {
    position: relative;
    margin-top: 46px; /* Đẩy slider xuống dưới header */
    padding-top: 50%; /* Tỷ lệ khung hình 2:1 */
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content { 
    position: absolute;
    bottom: 47px; /* Đặt nội dung ở gần cuối slider */
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    left: 0;
    right: 0;
    text-align: center; /* Căn giữa nội dung */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {
    /* height: 2000px; */
}

#content .content-section {
    width: 800px; /* Chiều rộng của mỗi section */
    padding: 64px 0 112px; /* Khoảng cách trên và dưới */
    /* Căn giữa section */
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500; /* Độ đậm chữ */
    letter-spacing: 4px; /* Khoảng cách giữa các chữ cái */
    text-align: center; /* Căn giữa chữ */
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;  /* Khoảng cách trên */
    text-align: center;
    font-style: italic; /* In nghiêng */
    opacity: 0.6; /* Độ trong suốt */
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* Cân đều 2 bên văn bản */
    line-height: 1.4; /* Độ cao của mỗi 1 dòng */
}

#content .member-list {
    margin-top: 48px;  /* Khoảng cách phía trên danh sách */
    overflow: hidden;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;  /* Chiều rộng của ảnh thành viên */
    margin-top: 15px;  /* Khoảng cách phía trên ảnh */
    border-radius: 4px;  /* Bo tròn các góc của ảnh */
}

/*Tour section */
.tour-section {
    background-color: black;  /* Màu nền đen cho phần tour */
}

.tickets-list {
    margin-top: 40px; /* Khoảng cách phía trên danh sách vé */
    list-style: none; /* Loại bỏ dấu chấm đầu dòng của danh sách */
    background-color: #fff;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;  /* Khoảng cách bên trong mỗi mục */
    border-bottom: 1px solid #ddd;  /* Đường viền dưới mỗi mục */
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;  /* Khoảng cách bên trái */
}

.tickets-list .quantily {
    float: right;  /* Đẩy số lượng vé sang bên phải */
    width: 24px; /* Chiều rộng của vòng tròn */
    height: 24px; /* Chiều cao của vòng tròn */
    background-color: #000;
    color: #fff;
    border-radius: 50%; /* Tạo hình tròn */
    text-align: center; /* Căn giữa chữ bên trong */
    line-height: 24px; /* Căn giữa chữ theo chiều dọc */
    margin-top: -3px; /* Điều chỉnh vị trí */
}

/* Places */
.place-list {
    margin-top: 32px;
}

.place-img:hover {
    opacity: 0.6; /* Hiệu ứng mờ khi hover vào ảnh */
}

.place-img {
    width: 100%;
    display: block; /* Hiển thị dạng block để không bị lỗi khoảng trắng dưới ảnh */
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: #000;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
    border: none;
}

/* Contact from*/
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    border: none;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed; /* Cố định modal trên màn hình */
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Nền mờ */
    display: none; /* Ẩn modal mặc định */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.modal.open {
    display: flex; /* Hiện modal khi có class 'open' */
}

.modal-container {
    background-color: #fff; /* Nền trắng cho modal */
    width: 900px;
    max-width: calc(100% - 32px); /* Đảm bảo không vượt quá màn hình nhỏ */
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s; /* Hiệu ứng xuất hiện */
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    background-color: grey;
    color: #000;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: rgb(46, 157, 157);
}
/* END MODAL */


/* ANIMATION */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* END ANIMATION */